{
    order gitea before file_server
    auto_https disable_redirects
}

(default) {
   # Gitea 服务器地址
   server https://gitea.com
   # Gitea Token
   token please-replace-it
   # 默认域名，类似于 Github 的 github.io
   domain example.com
   # CNAME 配置缓存地址
   alias path/to/file
   # 默认 404 页面,可填写路径或者 URL
   error40x path/to/file
   # 默认 50x 页面,可填写路径或者 URL
   error50x path/to/file
}

http:// {
  import default
}

https://  {
  ## 填入 https 配置
  # tls
  import default
}