{
    order gitea before file_server
    auto_https disable_redirects
}

(default) {
   # Gitea 服务器地址
   server https://gitea.com
   # Gitea Token
   token please-replace-it
   # 默认域名，类似于 Github 的 github.io
   domain example.com
   # CNAME 配置缓存地址
   alias path/to/file
   # 在 caddy 实例中共享 Alias
   shared
   errors {
     # 默认 404 页面,可填写路径或者 URL
     404 path/to/file

     # 默认 40x 页面,可填写路径或者 URL
     40x path/to/file

     # 默认 50x 页面,可填写路径或者 URL
     50x path/to/file

     # 默认 500 页面,可填写路径或者 URL
     500 path/to/file
   }
   # 自动重定向到 CNAME 配置
   redirect
   # 指定协议，可选 http/https (重定向用)
   proto https
}

http:// {
  import default
}

https://  {
  ## 填入 https 配置
  # tls
  import default
}